body {
    font-family: cursive;
    color: black;
    background-image: linear-gradient(to right,#f0a8d4,#b2dcf3,#cab3de);
}

.link-nav{
    text-decoration: none;
    color: rgb(200, 143, 200);
    box-shadow: 5px 5px 5px 0 rgb(143, 79, 79) ;
    padding: 5px;

}

.link-header{
    text-decoration: none;
    color: rgb(190, 7, 95);
}
.link-header:hover{
    color: rgb(68, 117, 232)
}

nav{
     display: flex;
     justify-content: space-around;
    
}

.social{
    margin: 40px;
}


footer{
    display: flex;
    justify-content: space-around;
}
body {
    font-family: sans-serif;
}

.link-header:hover{
    color: rgb(155, 108, 50);
    background-color: aqua;
}

h1{
    color: rgb(173, 25, 102);
    ;
}
